/* line 2, ../sass/custom.scss */
.table td {
  width: 70%;
  border: none !important;
}
/* line 5, ../sass/custom.scss */
.table td span {
  font-size: 12px;
  color: #ccc;
}
/* line 10, ../sass/custom.scss */
.table td table.table {
  background-color: inherit;
}
/* line 14, ../sass/custom.scss */
.table td table.table td:first-child {
  padding-left: 30px;
}

/* line 23, ../sass/custom.scss */
.white-border {
  border-bottom: 5px solid #fff;
}

/* line 26, ../sass/custom.scss */
.admission-block {
  border-left: 4px solid green;
  padding: 15px;
}
/* line 29, ../sass/custom.scss */
.admission-block a {
  color: green;
}

/* line 38, ../sass/custom.scss */
.admission-tab ul {
  border: none;
  position: relative;
}
/* line 41, ../sass/custom.scss */
.admission-tab ul li {
  text-align: center;
}
/* line 43, ../sass/custom.scss */
.admission-tab ul li a {
  border-radius: 50%;
  padding: 10px 25px;
  text-align: center;
  border: 2px solid #ccc;
  font-size: 32px;
  color: #ccc;
  width: auto;
  display: inline-block;
  margin: 0 auto;
  background: #fff;
}
/* line 54, ../sass/custom.scss */
.admission-tab ul li a:hover {
  border: 2px solid yellow;
  background: #666;
  color: yellow;
}
/* line 61, ../sass/custom.scss */
.admission-tab ul li:nth-child(3) {
  margin-left: 30%;
}
/* line 64, ../sass/custom.scss */
.admission-tab ul li:last-child {
  float: right;
}
/* line 69, ../sass/custom.scss */
.admission-tab ul .between-border {
  position: absolute;
  height: 2px;
  background: #666;
  width: 50%;
  top: 35px;
  left: 20px;
  z-index: -1;
}
/* line 78, ../sass/custom.scss */
.admission-tab ul .between-border-second {
  position: absolute;
  height: 2px;
  background: #666;
  width: 50%;
  top: 35px;
  right: 20px;
  z-index: -1;
}
/* line 89, ../sass/custom.scss */
.admission-tab ul li.active a {
  color: yellow;
  border: 2px solid yellow;
  background: #666;
}
/* line 93, ../sass/custom.scss */
.admission-tab ul li.active a:focus, .admission-tab ul li.active a:hover {
  border: 2px solid yellow;
  background: #666;
  color: yellow;
}
/* line 104, ../sass/custom.scss */
.admission-tab .tab-content {
  background: #666;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
}
/* line 110, ../sass/custom.scss */
.admission-tab .tab-content button, .admission-tab .tab-content select {
  background: none;
  border-radius: 0;
  border: 2px solid #ccc;
  color: #ccc;
  font-size: 20px;
  height: 50px;
  width: 100%;
}
/* line 120, ../sass/custom.scss */
.admission-tab .tab-content .tab-pane1 {
  position: relative;
}
/* line 122, ../sass/custom.scss */
.admission-tab .tab-content .tab-pane1:before {
  content: "\f0d8";
  font-family: FontAwesome;
  position: absolute;
  font-size: 40px;
  color: #666;
  top: -50px;
  left: 24px;
}
/* line 133, ../sass/custom.scss */
.admission-tab .tab-content .tab-pane2 {
  position: relative;
}
/* line 135, ../sass/custom.scss */
.admission-tab .tab-content .tab-pane2:before {
  content: "\f0d8";
  font-family: FontAwesome;
  position: absolute;
  font-size: 40px;
  color: #666;
  top: -50px;
  left: 50%;
}
/* line 146, ../sass/custom.scss */
.admission-tab .tab-content .tab-pane3 {
  position: relative;
}
/* line 148, ../sass/custom.scss */
.admission-tab .tab-content .tab-pane3:before {
  content: "\f0d8";
  font-family: FontAwesome;
  position: absolute;
  font-size: 40px;
  color: #666;
  top: -50px;
  right: 24px;
}
/* line 162, ../sass/custom.scss */
.admission-tab .equal-wrapper {
  display: table;
}
/* line 164, ../sass/custom.scss */
.admission-tab .equal-wrapper .equal {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
/* line 169, ../sass/custom.scss */
.admission-tab .equal-wrapper .equal .vertical-line {
  width: 2px;
  height: 120px;
  background: #ccc;
  position: absolute;
  left: 48%;
  top: 5%;
}
/* line 179, ../sass/custom.scss */
.admission-tab .equal-wrapper .equal .vertical-line2 {
  width: 2px;
  height: 120px;
  background: #ccc;
  position: absolute;
  left: 48%;
  bottom: 5%;
}

/* line 198, ../sass/custom.scss */
.slide2 button, .slide2 select {
  background: none;
  border-radius: 0;
  border: 2px solid #ccc;
  color: #ccc;
  font-size: 20px;
  height: 50px;
  width: 100%;
}
/* line 207, ../sass/custom.scss */
.slide2 .fees-details-section {
  background: #666;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
}

/* line 218, ../sass/custom.scss */
.slide3 .loan-details {
  background: #666;
  color: #fff;
  border-radius: 10px;
  margin-top: 15px;
  padding: 15px;
}
/* line 225, ../sass/custom.scss */
.slide3 .loan-details .right-border {
  border-right: 1px solid #fff;
}
