@import 'fonts';

$font-family: 'source_sans_proregular';
$font-family-medium: 'gotham_mediumregular';
$font-family-light: 'gotham_lightregular';
$font-family-bold: 'gotham_boldregular';
$font-family-semibold: 'source_sans_prosemibold';
$font-family-black: 'source_sans_problack';
$font-family-probold: 'source_sans_probold';
$font-family-prolight: 'source_sans_prolight';
$font-family-lora:'loraregular';
$font-family-times:'timesregular';
$font-family-times-bold: 'timesbold';

/*Fonts for Department*/
$font-family-crimson-roman: 'crimson_textroman';
$font-family-crimson-italic: 'crimson_textitalic';
$font-family-crimson-bold: 'crimson_textbold';

$font-size: 1rem;
$font-size-sm: 1.063rem;
$font-size-l: 1.125rem;
$font-size-ll: 1.188rem;
$font-size-xl: 1.250rem;
$font-size-xxl: 1.375em;
$font-size-m: 0.875rem;
$font-size-s: 0.750rem;

$font-lg: 2.250rem;
$font-h1:2rem;
$font-h2:1.625rem;
$font-h3:1.5rem;
$font-h4:1.375rem;
$font-h5:1.250rem;
$font-h6:1.063rem;


$base-blue-color: #20456c;
$button-color-1:#1C79CA;
$button-color-2:#0058A6;
$white-color:#ffffff;
$black-color:#000000;
$top-menu-color:#005197;
$main-menu-bg:#bfd6ea;
$main-menu-bg-gra:#c9dded;
$dark-gray:#3A3A3A;
$light-gray:#747474;
$lightest-gray:#FAFAFA;
$menu-hover-bg:rgba(114, 165, 209, 0.3);
$event-gray-color:#747474;
$gray-bg-color:#ededed;
$nevy-blue: #003466;
$rightsidebar-navigation-bg:#c4c4c4;
$inner-page-main-menu-bg:#f5f5f5;

$color: #747474;
$color-dark: #3a3a3a;

$body-text-color:#555555;

$inner-page-dark-blue:#005197;
$academics-black:#000000;
$academics-green:#678340;
$academics-orange:#ff7f00;
$academics-brown:#8D1818;
$academics-blue:#2a87a3;


$pagination-text-color:#d0d0d0;


$research-text-bg-color:#f8f8f8;
$light-blue: #3c5d80;

$right-menu-dissable-color:#d4cccc;



/* Department section  */

$top-header-bg:#8d5816;
$top-drop-down-menu-bg:#7a490c;
$top-drop-down-menu-color:#b79d7c;
$search-text-color:#aaaaaa;
$main-menu-border-color:#e7e7e7;
$menu-hover-color:#8d5715;
$banner-title-gray-color:#969696;
$light-gray-button-color:#f8f8f8;
$light-gray:#c4c4c4;




$lg:1200px;
$md:992px;
$sm:768px;
$axs:635px;
$xs:480px;
